.product-detail {
    width: 100%;
}


.product-detail-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 40px;
    gap: 60px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}


.product-detail-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-detail-image-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}


.product-detail-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.product-detail-info {
    display: flex;
    flex-direction: column;
}


.product-detail-info h2 {
    font-size: 48px;
    font-weight: 500;
    color: #111111;
    margin: 0;
}


.product-detail-description {
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    line-height: 1.5;
    margin: 40px 0 0;
}


.product-detail-category {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin: 15px 0 0;
}


.product-detail-price {
    font-size: 26px;
    font-weight: 500;
    color: #111111;
    margin: 20px 0 0;
}


.product-detail-stock {
    font-size: 15px;
    font-weight: 400;
    color: #777777;
    margin: 10px 0 0;
}


.product-detail-info button {
    align-self: flex-start;
    margin-top: 70px;
    padding: 12px 24px;
    background-color: #111111;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 200ms;
    cursor: pointer;
}


.product-detail-info button:hover {
    background-color: #333333;
}